{% extends "base.html" %}
{% block title %}Quick Inspect Mechanic Onboard Form{% endblock %}
{% block content %}
<h4 class="text-center">Mechanic Onboard Form</h4>
<div class="container">
    <form action="/get_data" method="post" class="row">
        <div class="mb-2 col-12 col-sm-12 col-md-6">
            <label for="company_name" class="form-label">Enter Company Name:</label>
            <input type="text" class="form-control" name="company_name" id="company_name" autocomplete='off' required>
        </div>
        <div class="mb-2 col-12 col-sm-12 col-md-6">
            <label for="full_name" class="form-label">Enter Full Name:</label>
            <input type="text" class="form-control" name="full_name" id="full_name" autocomplete='off' required>
        </div>
        <div class="mb-2 col-12 col-sm-12 col-md-6">
            <label for="address_1" class="form-label">Enter Address:</label>
            <textarea class="form-control" name="address_1" id="address_1" autocomplete='off' required></textarea>
        </div>

        <div class="mb-2 col-12 col-sm-12 col-md-6">
            <label for="primary_number" class="form-label">Enter Primary Number:</label>
            <input type="tel" class="form-control" name="primary_number" id="primary_number" autocomplete='off' required>
        </div>
        <div class="mb-2 col-12 col-sm-12 col-md-6">
            <label for="secondary_number" class="form-label">Enter Secondary Number:</label>
            <input type="tel" class="form-control" name="secondary_number" id="secondary_number" autocomplete='off'>
        </div>
        <div class="mb-2 col-12 col-sm-12 col-md-6">
            <label for="abn_number" class="form-label">Enter ABN Number:</label>
            <input type="text" class="form-control" name="abn_number" id="abn_number" autocomplete='off' required>
        </div>
        <div class="mb-2 col-12 col-sm-12 col-md-6">
            <label for="distance_covered" class="form-label">Enter Distance Covered:</label>
            <input type="text" class="form-control" name="distance_covered" id="distance_covered" autocomplete='off' required>
        </div>
        <div class="mb-2 col-12 col-sm-12 col-md-6">
            <label for="standard_inspection" class="form-label">Enter Standard Inspection:</label>
            <input type="number" class="form-control" name="standard_inspection" id="standard_inspection"
                autocomplete='off' required>
        </div>
        <div class="mb-2 col-12 col-sm-12 col-md-6">
            <label for="suburbs_list" class="form-label">Enter Suburb list:</label>
            <textarea class="form-control" name="suburbs_list" id="suburbs_list" required></textarea>
            <div id="suburbs_helper_text" class="form-text">
                Tooradin, Blind Bight, Dalmore, Cannons Creek, Warneet.
            </div>
        </div>
        <div class="mb-2 col-12 col-sm-12 col-md-6">
            <label for="contract_date" class="form-label">Enter Contract Date:</label>
            <input type="date" class="form-control" name="contract_date" id="contract_date" required>
        </div>
        <button type="submit" class="btn btn-primary">Generate</button>
    </form>
</div>

{% endblock %}